<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2019. Code Written and tested by Ahmed Emad.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.koshkie.koshkieApp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.Activities.CartActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_cart">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.koshkie.koshkieApp.ui.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Activities.TermsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_terms">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.koshkie.koshkieApp.ui.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Activities.ContactusActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_contact_us">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.koshkie.koshkieApp.ui.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Activities.OrdersActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_orders">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.koshkie.koshkieApp.ui.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Activities.OffersActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_offers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.koshkie.koshkieApp.ui.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.koshkie.koshkieApp.ui.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Activities.TutorialActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/tutorialLayout" />
        <activity
            android:name=".ui.Activities.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>